name: Publish Package to NPM

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Cache cargo registry + index
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-registry-
      
      - name: Install necessary Tools
        run: |
          cargo install wasm-bindgen-cli
          cargo install wasm-opt --locked

      - name: Test
        run: cargo test

      - name: Build packages
        run: chmod +x build.sh && ./build.sh

      - name: Authenticate with npm
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Publish to NPM
        if: startsWith(github.ref, 'refs/tags/v')
        run: cd pkg && npm publish
